modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["glibcLocales"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Flask Server"

[[workflows.workflow]]
name = "Flask Server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd rebuild && python app.py"
waitForPort = 5000

[deployment]
run = ["gunicorn", "--bind=0.0.0.0:5000", "--reuse-port", "app:app"]
deploymentTarget = "gce"
ignorePorts = true

[[ports]]
localPort = 5000
externalPort = 80

[agent]
expertMode = true

[userenv]

[userenv.shared]
SECRET_KEY = "59bbe3b08473e2b8c94a4d6686613ceedd16974724b5e252ce449519456b16a4"
